# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# macOS volume metadata
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# macOS remote shares
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Test data
tests/_ocr_crops/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Python virtualenv
.venv/
venv/
.env/
