services:
  redis-stack:
    image: redis/redis-stack-server:latest
    container_name: redis-stack
    ports:
      - "6379:6379"
    volumes:
      - "${ZRR_DATA_DIR:-./.zotero-redisearch-rag/redis-data}:/data"
